#footer {
    background: $blackGrey;
    padding: 5px 0;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    .cpyRight {
        color: $white;
        margin: 10px 0;
        font-size: 13px;
    }
}
