.nav {
    justify-content: center;

    li {
        display: block;
        position: relative;
        width: 100%;

        .MuiButtonBase-root-60 {
            &:hover,
            &:focus {
                background: none;
            }
        }

        &.active {
            > .sub {
                animation: fadeIn 0.3s ease-out;
                display: block;
            }
        }

        &.active {
            > .levDirec {
                background: #ebebeb;
                border-bottom: 1px solid #fff;
            }
        }

        a {
            display: inline-block;
            width: 100%;
            text-decoration: none;
            font-size: 18px;
            color: #111;

            &:hover {
                background: #ebebeb;
            }
        }
    }

    .sub {
        display: none;
        width: 100%;
        border-radius: 2px;
        background: $white;
        text-align: left;

        li {
            width: 100%;
            > .levDirec {
                padding-left: 16px;

                &.notOpen {
                    padding-left: 0;
                }
            }
        }

        .sub {
            li {
                > .levDirec {
                    padding-left: 32px;

                    &.notOpen {
                        padding-left: 0;
                    }
                }
            }
        }
    }
}
