.nav {
    justify-content: center;

    li {
        display: inline-block;
        position: relative;

        &:hover {
            > .sub {
                display: block;
            }
        }

        &.active {
            > a {
                color: #111;
            }
        }

        a {
            display: inline-block;
            width: 100%;
            padding: 5px 15px;
            color: rgb(158, 95, 0);
            text-decoration: none;
            font-size: 18px;

            &:hover {
                color: #111;
            }
        }
    }

    .sub {
        position: absolute;
        display: none;
        width: 200px;
        z-index: 10;
        left: 0;
        border: 1px solid #ccc;
        border-radius: 2px;
        background: $white;
        text-align: left;

        li {
            width: 100%;
        }

        .sub {
            left: 200px;
            top: 0;
        }
    }

    .hasSub {
        .hasSub {
            > a {
                &:after {
                    content: '>';
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    font-size: 18px;
                    font-weight: 700;
                }
            }
        }
    }
}
