html {
    &.openCart {
        overflow: hidden;

        body {
            overflow: hidden;
        }

        .overlay {
            background: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 101;
            left: 0;
            top: 0;
        }
    }
}

#cartPage {
    padding: 0 0 50px;
    position: fixed;
    z-index: 102;
    right: 0;
    top: 0;
    background: $white;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    @include desktop {
        width: 80%;
    }

    @include wideDesktop {
        width: 70%;
    }

    #btn-close {
        position: absolute;
        top: 10px;
        border: 1px solid #ccc;
        border-radius: 50%;
        width: 40px;
        height: 40px;

        &:hover {
            cursor: pointer;
        }
    }

    .numberCart {
        margin-top: 5px;
    }

    .eachRow {
        margin-bottom: 20px;
        padding-bottom: 5px;

        hr {
            width: 100%;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }

        h6 {
            margin-top: 7px;
            margin-bottom: 0;
        }

        .list-btn {
            margin-top: 10px;

            @include desktop {
                margin-top: 0;
            }
        }

        .btn {
            margin-right: 1px;
            padding: 5px 15px;

            &.btn-delete {
                float: right;
                margin-right: 0;
            }
        }

        .title,
        .price {
            margin-top: 7px;
            display: inline-block;
        }

        .quantity {
            margin-top: 3px;
            display: inline-block;
        }

        .quantityChange {
            display: inline-block;
            width: 50px;
            padding: 2px 4px;
            margin-left: 10px;
            border-radius: 3px;
            text-align: center;
            border: 1px solid #ccc;
        }
    }

    .hrTotal {
        border-top: 1px solid rgba(0, 0, 0, 0.3);
    }

    .totalAmount {
        .totalMoney {
            margin-left: 15px;
        }
    }

    .btn-success {
        padding: 0;
        a {
            display: inline-block;
            padding: 10px 20px;
            color: $white;

            &:hover {
                text-decoration: none;
            }
        }
    }
}
