#cartPage {
    padding: 0 0 50px;

    .eachRow {
        margin-bottom: 20px;
        padding-bottom: 5px;

        hr {
            width: 100%;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }

        h6 {
            margin-top: 7px;
            margin-bottom: 0;
        }

        .list-btn {
            margin-top: 10px;

            @include tablet {
                margin-top: 0;
            }
        }

        .btn {
            margin-right: 1px;
            padding: 5px 15px;

            &.btn-delete {
                float: right;
                margin-right: 0;
            }
        }
    }

    .hrTotal {
        border-top: 1px solid rgba(0, 0, 0, 0.3);
    }
}
