#checkoutPage {
    .frmCheckout {
    }

    .eachRow {
        .lbl {
            display: inline-block;
            width: 100px;
            padding-right: 10px;
        }

        .boxVal {
        }
    }
}
