#homePage {
    padding-bottom: 50px;

    section {
        text-align: center;
    }

    .item {
        margin: 10px 0 30px;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 10px 10px 20px;

        .img {
            width: 100%;
            overflow: hidden;
        }

        .infor {
            margin-top: 10px;

            .title {
                font-size: 14px;
            }

            .price-stock {
                margin-bottom: 10px;
            }

            .stock {
                margin-left: 20px;
            }
        }

        .stock {
            color: red;
        }
    }
}
