#homePage {
    padding: 40px 0;

    h4.title {
        text-align: center;
        margin: 20px 0;
    }

    .mainContent {
        margin-top: 30px;

        .eachRow {
            margin-bottom: 15px;
        }
    }
}
