#prodPage {
    padding-bottom: 50px;

    section {
        text-align: center;
    }

    .item {
        margin: 10px 0 30px;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 10px 10px 20px;

        > a {
            color: $black-grey;

            &:hover {
                text-decoration: none;
            }
        }

        .img {
            width: 100%;
            overflow: hidden;
        }

        .infor {
            margin-top: 10px;
            text-decoration: none;

            .title {
                font-size: 14px;
            }

            .price-stock {
                margin-bottom: 10px;
            }

            .stock {
                margin-left: 20px;
            }
        }

        .stock {
            color: red;
        }
    }

    .detailProd {
        padding: 50px 0;
        .img {
            margin-bottom: 10px;
            vertical-align: top;
        }

        .des {
            margin-bottom: 10px;
        }
    }
}
