@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
html,
body {
  min-height: 100%;
  height: 100%; }

* {
  font-family: 'Open Sans', sans-serif; }

div {
  max-width: initial; }

ul,
ol {
  list-style: none;
  padding-left: 0; }

a {
  outline: none; }

input {
  outline: none; }

img {
  max-width: 100%; }

body {
  position: relative; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

#header {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 25px;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 100;
  transition: all 0.5s ease-out, background 1s ease-out;
  transition-delay: 0.2s;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); }
  #header .logo {
    display: inline-block;
    vertical-align: top; }
  #header .burger-container {
    position: relative;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    user-select: none;
    float: right;
    -webkit-tap-highlight-color: transparent; }
    @media screen and (min-width: 992px) {
      #header .burger-container {
        display: none; } }
    #header .burger-container #burger {
      width: 25px;
      height: 8px;
      position: relative;
      display: block;
      margin: -4px auto 0;
      top: 50%; }
      #header .burger-container #burger .bar {
        width: 100%;
        height: 1px;
        display: block;
        position: relative;
        background: #1b1b1b;
        transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition-delay: 0s; }
        #header .burger-container #burger .bar.topBar {
          transform: translateY(0px) rotate(0deg); }
        #header .burger-container #burger .bar.btmBar {
          transform: translateY(8px) rotate(0deg); }
  #header .nav {
    text-align: center;
    padding-top: 20px;
    float: right;
    width: 100%; }
    @media screen and (min-width: 992px) {
      #header .nav {
        padding-top: 0;
        width: auto; } }
    #header .nav li {
      display: block;
      width: 100%;
      border-bottom: 1px solid rgba(27, 27, 27, 0.1);
      text-align: left;
      margin-bottom: 5px; }
      #header .nav li:last-child {
        border-bottom: none; }
        #header .nav li:last-child a {
          padding-right: 0; }
      #header .nav li.active a, #header .nav li:hover a {
        color: #0077b5; }
      @media screen and (min-width: 992px) {
        #header .nav li {
          display: inline-block;
          width: auto;
          border-bottom: none;
          margin-bottom: 0; } }
    #header .nav a {
      width: 100%;
      color: #1b1b1b;
      display: inline-block;
      padding: 10px 0;
      text-decoration: none; }
      @media screen and (min-width: 992px) {
        #header .nav a {
          padding: 8px 11px; } }
      #header .nav a span {
        vertical-align: top; }

.numberCart {
  display: inline-block;
  overflow: hidden;
  max-width: 32px;
  min-width: 20px;
  height: 22px;
  background: red;
  color: #fff;
  text-align: center;
  line-height: 20px;
  border-radius: 2px;
  margin-left: 5px;
  font-size: 13px;
  padding: 0 3px; }

#menuSub {
  display: none;
  float: right;
  width: 100%; }
  @media screen and (min-width: 992px) {
    #menuSub {
      display: block !important;
      width: auto; } }

body.menu-opened {
  overflow: hidden; }
  body.menu-opened #header {
    height: 100%;
    overflow: hidden; }
    body.menu-opened #header .burger-container {
      transform: rotate(90deg); }
      body.menu-opened #header .burger-container #burger .bar {
        transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition-delay: 0.2s; }
        body.menu-opened #header .burger-container #burger .bar.topBar {
          transform: translateY(4px) rotate(45deg); }
        body.menu-opened #header .burger-container #burger .bar.btmBar {
          transform: translateY(3px) rotate(-45deg); }

#footer {
  background: #212121;
  padding: 30px 0;
  text-align: center; }
  #footer .cpyRight {
    color: #fff;
    margin-top: 12px;
    font-size: 11px; }
    @media screen and (min-width: 414px) {
      #footer .cpyRight {
        font-size: 14px; } }
  #footer p {
    color: #fff;
    margin-top: 20px; }

.app {
  padding-top: 80px; }

.notFound {
  background: #ebeff2;
  text-align: center;
  padding: 50px 0 150px;
  margin-bottom: -70px; }
  @media screen and (min-width: 992px) {
    .notFound {
      padding: 80px 0 200px; } }
  .notFound .txt {
    color: #8c9ba0;
    font-size: 24px; }
    @media screen and (min-width: 768px) {
      .notFound .txt {
        margin-top: -24px; } }

.buttonWhite {
  border-radius: 5px;
  display: inline-block;
  height: 50px;
  text-align: center;
  line-height: 50px;
  min-width: 180px;
  padding: 0 50px;
  border: none;
  outline: none;
  background: #fff;
  color: #4dae4a;
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize; }
  .buttonWhite:hover {
    cursor: pointer; }
  .buttonWhite:active, .buttonWhite:focus, .buttonWhite:visited {
    outline: none; }
  .buttonWhite:hover {
    color: #4dae4a;
    text-decoration: none;
    box-shadow: 0px 10px 25px rgba(37, 15, 138, 0.2); }

.cycleSlider {
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  vertical-align: top;
  width: 70px;
  height: 70px;
  background: #fff;
  line-height: 70px;
  box-shadow: 0px 10px 25px rgba(37, 15, 139, 0.1); }
  .cycleSlider:hover {
    cursor: pointer; }
  .cycleSlider svg {
    width: 12px;
    height: 18px;
    color: #000; }

.boxLoading,
.loadingComponent {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999; }
  .boxLoading .loading,
  .loadingComponent .loading {
    position: absolute;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #4dae4a;
    width: 60px;
    height: 60px;
    left: 50%;
    top: 50%;
    animation: spin 2s linear infinite;
    margin-left: -30px;
    margin-top: -30px; }

.loadingComponent {
  position: relative;
  height: 230px;
  background: #fff;
  margin-bottom: 50px; }
  @media screen and (min-width: 992px) {
    .loadingComponent {
      height: 500px; } }

.titlePage {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #1b1b1b;
  font-size: 22px;
  text-align: center; }
  @media screen and (min-width: 576px) {
    .titlePage {
      font-size: 28px; } }

.color-red {
  color: red; }

.modalBox .modal-body {
  text-align: center;
  padding-bottom: 40px; }

#homePage {
  padding: 40px 0; }
  #homePage h4.title {
    text-align: center;
    margin: 20px 0; }
  #homePage .mainContent {
    margin-top: 30px; }

#prodPage {
  padding-bottom: 50px; }
  #prodPage section {
    text-align: center; }
  #prodPage .item {
    margin: 10px 0 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px 10px 20px; }
    #prodPage .item > a {
      color: #1b1b1b; }
      #prodPage .item > a:hover {
        text-decoration: none; }
    #prodPage .item .img {
      width: 100%;
      overflow: hidden; }
    #prodPage .item .infor {
      margin-top: 10px;
      text-decoration: none; }
      #prodPage .item .infor .title {
        font-size: 14px; }
  #prodPage .detailProd {
    padding: 50px 0; }
    #prodPage .detailProd .img {
      margin-bottom: 10px;
      vertical-align: top; }
    #prodPage .detailProd .des {
      margin-bottom: 10px; }
    #prodPage .detailProd .stock {
      margin-left: 20px;
      color: red; }
  #prodPage .price-stock {
    margin-bottom: 10px; }

.stock {
  margin-left: 20px;
  color: red; }

html.openCart {
  overflow: hidden; }
  html.openCart body {
    overflow: hidden; }
  html.openCart .overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 101;
    left: 0;
    top: 0; }

#cartPage {
  padding: 0 0 50px;
  position: fixed;
  z-index: 102;
  right: 0;
  top: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  overflow-y: scroll; }
  @media screen and (min-width: 992px) {
    #cartPage {
      width: 80%; } }
  @media screen and (min-width: 1200px) {
    #cartPage {
      width: 70%; } }
  #cartPage #btn-close {
    position: absolute;
    top: 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px; }
    #cartPage #btn-close:hover {
      cursor: pointer; }
  #cartPage .numberCart {
    margin-top: 5px; }
  #cartPage .eachRow {
    margin-bottom: 20px;
    padding-bottom: 5px; }
    #cartPage .eachRow hr {
      width: 100%;
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
    #cartPage .eachRow h6 {
      margin-top: 7px;
      margin-bottom: 0; }
    #cartPage .eachRow .list-btn {
      margin-top: 10px; }
      @media screen and (min-width: 992px) {
        #cartPage .eachRow .list-btn {
          margin-top: 0; } }
    #cartPage .eachRow .btn {
      margin-right: 1px;
      padding: 5px 15px; }
      #cartPage .eachRow .btn.btn-delete {
        float: right;
        margin-right: 0; }
    #cartPage .eachRow .title,
    #cartPage .eachRow .price {
      margin-top: 7px;
      display: inline-block; }
    #cartPage .eachRow .quantity {
      margin-top: 3px;
      display: inline-block; }
    #cartPage .eachRow .quantityChange {
      display: inline-block;
      width: 50px;
      padding: 2px 4px;
      margin-left: 10px;
      border-radius: 3px;
      text-align: center;
      border: 1px solid #ccc; }
  #cartPage .hrTotal {
    border-top: 1px solid rgba(0, 0, 0, 0.3); }
  #cartPage .totalAmount .totalMoney {
    margin-left: 15px; }
  #cartPage .btn-success {
    padding: 0; }
    #cartPage .btn-success a {
      display: inline-block;
      padding: 10px 20px;
      color: #fff; }
      #cartPage .btn-success a:hover {
        text-decoration: none; }

#checkoutPage {
  padding: 20px 0; }
  #checkoutPage .eachRow .lbl {
    display: inline-block;
    width: 100px;
    padding-right: 10px; }
  #checkoutPage .boxInfor {
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 15px 10px; }
    #checkoutPage .boxInfor h3 {
      font-size: 26px;
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(220, 220, 220, 0.5); }
    #checkoutPage .boxInfor.customer p strong {
      font-size: 13px; }
    #checkoutPage .boxInfor.products .item {
      width: 100%;
      clear: both;
      margin-bottom: 15px;
      overflow: hidden; }
      #checkoutPage .boxInfor.products .item .img {
        float: left;
        text-align: left;
        margin-right: 5px; }
        #checkoutPage .boxInfor.products .item .img img {
          float: left; }
      #checkoutPage .boxInfor.products .item .infor > div {
        margin-bottom: 10px; }
  #checkoutPage .eachMethod {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px; }
    #checkoutPage .eachMethod input {
      float: left;
      margin: 3px 10px; }
      #checkoutPage .eachMethod input:hover {
        cursor: pointer; }
    #checkoutPage .eachMethod label {
      color: #1b1b1b; }
      #checkoutPage .eachMethod label:hover {
        cursor: pointer; }
    #checkoutPage .eachMethod .roundMethod {
      float: left; }
  #checkoutPage .fillInfo {
    display: flex;
    justify-content: center; }
