.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  background: url("./imgs/bg.jpg") no-repeat 0 0;
  background-size: cover; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

p {
  font-size: 50px; }

body {
  color: blue; }

@keyframes rot {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.cssTest {
  margin-top: 50px;
  display: inline-block;
  width: 100px;
  height: 100px;
  box-shadow: 2px 2px #ccc;
  animation: rot 2s linear infinite; }
